{% extends 'base.html.twig' %}

{% block title %}Home Page!{% endblock %}

{% block body %}
    <h1>POSTS</h1>
    <div class="posts_home">
        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    {{ post.title }}
                </div>
                <div class="card-body">
                    {{ post.body }}
                </div>
                <div class="card-footer">
                    <a href="#">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
