{% extends 'base.html.twig' %}

{% block title %}Home Page!{% endblock %}

{% block body %}
    <h1>POSTS</h1>
    <div class="posts_home">
        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <div>{{ post.title }}</div>
                    {% include 'partials/tags.html.twig' with {'tags': post.tags} %}
                </div>
                <div class="card-body">
                    {{ post.body }}
                </div>
                <div class="card-footer">
                    <div>
                        Author: {{ post.author.fullName }}
                    </div>
                    <div>
                        Rating
                    </div>
                    <div>
                        Comments count
                    </div>
                    <div class="read-more"><a href="#" class="btn btn-primary">Read more</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
