{% extends 'base.html.twig' %}

{% block title %}Create Post{% endblock %}

{% block body %}
    <div class="post-create">
        <h1>Create New Post</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Create
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
{% endblock %}
